*{
  font-family:Roboto;
}
.gridContainer2{
  margin-top:10px;
  background-color:white;
  padding:15px;
  width:255px;
  border-radius:3px;
  box-shadow:1px 1px 5px gray;
}
.heading2{
  color:black;
  font-weight:800;
  font-size:10px;
  padding-bottom:3px;
}

.gridContainer2 div+p{
  color:gray;
  width:225px;
  font-size:9px;

}
.contentbox2{
  padding:8px;
  padding-top:15px;
  border-bottom:1px solid rgb(154, 153, 153);
}
.contentbox2:last-child{
  border:none;
}
.bodySec2{
  display:inline-block;
}
.contentbox3 img{
  width:35px;
  height:35px;
  border-radius:20px;
  border:1px solid gray;
 /* box-shadow:0px 1px 5px black;*/
}
.contentbox3{
  display:flex;
  align-items:center;
  gap:11px;
 margin-bottom:19px;
}
.userDetaile{
  font-size:11px;
  color:rgb(73, 73, 73);
  line-height:18px;
}
span{
  font-size:11px;
  color:black;
  font-weight:600;
  
}
.gridContainer3{
  background-color:white;
  border-radius:5px;  
  width:255px;
  height:240px;
  padding:15px;
  padding-left:11px;
  margin-top:10px;
/*  display:flex;
  flex-direction:column;
  align-items:center;*/
}
.bodySec3{
  display:inline-block;
}
.aligncontainer{
  display:inline-grid;
  row-gap:20px;
  
}
.mainBody{
  display:grid;
  grid-template-columns:repeat(2,auto);
  align-items:center;
  padding-top:15px;
  padding-left:10px;
  gap:20px;
}
/* INITIAL CSS STYLING THAT WAS INSIDE A STYLE TAG !*/
body{
     /* height:100vh;*/
      background-color:lightgray;
      padding-left:min(281px ,35%);
      margin-top:0px;
      padding-top:88px;
    } 
    *{
      font-family:Roboto;
      padding:0px;
      margin:0px;
      bottom:0px;
      box-sizing:border-box;
    }
  .sidebar{
      background-color:rgba(44, 162, 255, 1);
       text-align:left;
       font-weight:900;
       position:fixed;
       top:0px;
       bottom:0px;
       left:0px;
       width:max(35% , 180px);
      max-width:280px; 
      min-width:180px;
      }
      .sidebarhead img{
        width:35px;
        height:35px;
      }
      .sidebarhead p{
        font-size:20px;
      }
      .sidebarbody img,
      .sidebarfooter img{
        height:23px;
        width:23px;
        margin-left:12px;
      }
      
      .sidebarbody p,
      .sidebarfooter p{
        font-size:13px;
      }
    /* img{
      width:16px;
      height:16px;
      margin-left:12px;
    }*/
     .sidebarhead p,
     .sidebarbody p,
     .sidebarfooter p{
      margin-left:15px;
      font-size:15px;
    }
    .sidebarhead p{
      margin-left:11px;
    }
      .sidebar p{
        color:white;
      }
      .sidebarline img,p{
        display:inline-block;
      }
      .sidebarline{
        display:flex;
        align-items:center;
      }
      .sidebarhead{
        margin-bottom:20px;
      }
      .sidebarbody,
      .sidebarfooter{
        margin-bottom:40px;
      }
      .sidebarline{
        margin:9px 0px;
      }
      .sidebarhead img{
          margin-left:4px;
      }
      .relativecontainer{
        position: relative;
        height:100vh;
      }
      /* HEADER SECTION */
     .header{
      display:grid;
      grid-template-columns:1fr;
      height: 12%;
     /* grid-template-rows:10px 10px;*/
      row-gap:10px;
     position: fixed;
      top:0;
      left:0;
      right:0;
      height:88px;
      left:min(280px , max(180px,35%));
      box-shadow:0px 4px 6px rgba(0,0,0,0.1);
      margin-bottom:0px;
      padding-bottom:0px;
    /* left:280px;*/
     
      background-color:white;
      }
      .headerSec1{
        display:flex;
        align-items:center;
        justify-content:space-between;
        /*padding-right:30px;*/
      }
      .Icon{
      width:15px;
      height:15px;
      
      }
      .notifycationIcon{
        width:15px;
        height:15px;
      }
      input{
        height:15px;
        border-radius:6px;
        border:none;
        background:rgb(194, 194, 194);
        width:clamp(200px, 25vw, 350px);
        padding-left:10px;

      }
      input:focus{
        outline:none;
        cursor: pointer;

      }
      .profileImg{
        width:23px;
        height:23px;
        border-radius:10px;
      }
      .userName{
        font-size:0.6em;
        font-weight:800;
      }
      /* MARGIN */
      .searchIcon{
        margin-left:15px;
        margin-right:13px;
      }
     
      /* DIV SECTION FLEX */
      .headerSec1 div{
        display:flex;
        align-items:center;
      }
      .headerSec1 > div+div{
        margin-left:25px;
        column-gap: 18px;
        justify-content:end;
      }
    /* HEADER SECTION 2 */
    .headerSec2{
      display:flex;
      align-items:center;
      padding-left:15px;
    }
    .headerSec2 div{
      display:flex;
      align-items:center;
    }
    .headerSec2  div:first-child{ 
      column-gap:10px;
     /* padding-left:11px;*/
      flex:1;
    }
    .headerSec2>div+div{
      width:100%;
      flex:2;
      height:100%;
      column-gap:10px;
      justify-content: end;
    }
    /* PADDING */
    
    .headerSec2,
    .headerSec1{
      padding-right:40px;
    }
    .headerSec2 div img{
      height:33px;
      width:33px;
      border-radius: 15px;
    }
    .headerSec2 div p{
      font-weight:800;
      font-size:11px;
    }
   .headerSec2 span{
     font-size:8px;
   }
   button{
    padding: 5px 10px;
    border-radius: 15px;
    font-size:9px;
    background-color:rgba(44, 162, 255, 1);
    color:white;
    border:none;
    width:50px;
   }
   .mainBody{
    margin-top:1px;

   }
   .gridimg{
    width:15px;
    height:15px;
    margin-right:10px;
   }
   .icons{
    padding-right:1px;
    margin:50px 0px 20px 0px;
    gap:15px;
    display:flex;
    justify-content:end;
    align-items:center;
   }
   .contentbox{
    display:grid;
    grid-template-columns:5px 1fr;
    grid-template-rows:1fr;
    background-color:white;
   }
   .contentbox > div{
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    justify-content:end;
   }
   .colorStraip{
    background-color:orange;
   }
   .heading{
    font-size:14px;
    color:black;
    font-weight:800;
    padding-top:20px;
    margin-left:13px;
   }
   .paraghraph{
    font-size:12px;
    color:gray;
    width:360px;
    margin-top:4px;
    padding-left:13px;
   }
   .gridContainer1{
    box-sizing:border-box;
   /* height:auto;
    width:auto;*/
    display:inline-grid;
    grid-template-columns: 400px 400px;
    grid-template-rows:170px;
    gap:20px;
    margin-top:8px;
    
   }
 .bodySec1{
  display:inline-block;
  padding:0px;
  margin:0px;
  /*margin:10px;
  margin-right:0px;*/
 }
.gridTitle{
  font-weight:600;
  font-size:14px;
  width:500px;
  display:block;
}